// .App {
//   text-align: center;
// }
//
// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }
//
// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
//
// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }
//
// .App-link {
//   color: #61dafb;
// }
//
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

@import "hex-style.scss";

.App {
  margin-top: 50px;
}

#hexGrid {
  position: relative;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

#hexGridObjects {
  position: fixed;
  top: 0;
  left: 0;
}

.hex {
  position: relative;
  // transition: transform 0.3s ease-in-out;
}

.base {
  &--trees {
    background-color: #94c85c;
  }

  &--grass {
    background-color: #94c85c;
  }

  &--dirt {
    background-color: #806854;
  }

  &--small-building-1 {
    background-color: #82bf40;
  }
}

.object {
  position: absolute;
  width: 89px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;

  &--building {
    transform: scale(1.3) translateY(-16px);
    pointer-events: none;
    z-index: 3;
  }

  &--player {
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out,
      top 0.5s ease-in-out, bottom 0.5s ease-in-out;
    transform: scale(1.2);
    pointer-events: none;
    z-index: 3;
  }

  &--trees {
    transform: translateY(-8px);
    pointer-events: none;
    z-index: 3;
  }

  &--grass {
    transform: scale(0.8);
    pointer-events: none;
    z-index: 3;
  }

  &--dirt {
    transform: scale(0.8);
    pointer-events: none;
    z-index: 2;
  }

  &--state {
    z-index: 1;
  }
}
